header{
    background: url('../../assets/images/header.jpg');
    background-size: cover;
    background-position: center;
    min-height: 600px;
}

@media screen and (max-width: 670px){
    header{
        min-height: 500px;
    }
}

li a{
    font-weight: bold;
}

.icon{
    font-size: 1.5rem;
}