body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: 2px solid #00c853;
  border-color: #00c853;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label{
  color: #00c853;
}

input[type="checkbox"]:checked+span:not(.lever)::before{
  border-right: 2px solid #00c853;
  border-bottom: 2px solid #00c853;
}

.tabs .indicator{
  background-color: #00c853;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: transparent;
  outline: none;
}

section#featured img{
  border-radius: 15px;
}

section#featured h2{
  margin-bottom: 35px;
}

section.articles{
  min-height: 100vh;
}

hr{
  height: 2px;
  margin: 35px auto !important;
  border-radius: 5px;
  border-style: none;
}

.nav-container{
  width: 85%;
  margin: auto;
}

.articles-header, .interview-header{
  display: inline-block;
}

#articles-edit, #interviews-edit{
  display: inline-block;
}

.card-action{
  padding: 0px 24px !important;
}

.card-table{
  margin-bottom: 0px;
}

.card-para{
  margin-bottom: 15px !important;
}

.form-container{
  min-height: 100vh;
  margin-top: 70px;
}

.login-form .input-field{
  margin: 50px;
}

.landing-page{
  margin-top: 70px;
}

.create-btn{
  margin-top: 70px;
}

.card-subject{
  display: inline-block;
  margin-bottom: 8px;
}

.article-info{
  font-style: italic;
}

.card-content button{
  margin: 0px 5px;
}

@media screen and (max-width: 420px){
  nav .brand-logo{
    font-size: 1.5rem;
  }
}
